@import "@fontsource/fira-sans";
@import "@fontsource/roboto-slab";
@import "@fontsource/fira-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ex-fg: 255 0 255
}

@layer components {
	:disabled {
		opacity: theme(opacity.25);
	}

	/* :focus-visible {
		outline: solid 2px theme(outlineColor.blue.500) !important;
		outline-offset: 2px !important;
	} */

	button {
		appearance: none;

		white-space: nowrap;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: theme(gap.1);

		padding: theme(padding.1) theme(padding.2);
		border: none;
		border-radius: theme(borderRadius.md);
		outline: none;
		text-align: left;

		&.filled {
			background-color: theme(colors.gray.300);
		}

		&:hover {
			/* background-color: theme(colors.gray.300); */
			box-shadow: inset 0 0 100px rgb(0 0 0 / 0.1);
		}
	}

	input:not(.reset),
	select:not(.reset),
	textarea:not(.reset) {
		appearance: none;
		padding: theme(padding.1) theme(padding.2);
		border: none;
		border-radius: theme(borderRadius.md);
		outline: none;
		text-align: left;
	}

	select:not(.reset) {
		cursor: pointer;
		padding-right: theme(padding.8);
	}

	select:not(.reset) {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z' clip-rule='evenodd' /%3E%3C/svg%3E");

		background-position: right theme(spacing.2) center;
		background-repeat: no-repeat;
		background-size: 1.5em 1.5em;
		padding-right: theme(spacing.10);
	}

	input[type="text"],
	input[type="url"],
	input[type="email"],
	input[type="password"],
	input[type="number"],
	input[type="tel"],
	input[type="search"],
	textarea {
		&:not(.reset) {
			width: theme(width.full);

			&::placeholder {
				color: currentColor;
				opacity: 0.5;
			}

			&:focus {
				background-color: theme(backgroundColor.white);
				@apply ring ring-current;
			}

			&.flat {
				background-color: transparent;

				&:focus {
					background-color: theme(backgroundColor.white);
				}
			}

			&.superflat {
				background-color: transparent !important;
			}

			&.prompt {
				cursor: pointer;

				&::placeholder {
					opacity: 1;
				}

				&:focus {
					cursor: text;
				}
			}
		}
	}

	textarea:not(.reset) {
		padding: theme(padding.2);
		min-height: 2.5rem;
	}

	input[type="color"] {
		padding: 0;
		width: theme(width.12);
		height: theme(height.6);
		border: solid 4px currentColor;
	}

	input[type="checkbox"]:not(.reset, .switch) {
		cursor: pointer;
		background: radial theme(backgroundColor.white);
		padding: theme(padding.0);
		width: theme(width.6);
		height: theme(height.6);
		background-color: white;
		background-image: radial-gradient(ellipse at center, theme(backgroundColor.primary.500) 0%, theme(backgroundColor.primary.500) 50%, theme(backgroundColor.white) 50%);
		background-size: 0% 0%;
		background-repeat: no-repeat;
		background-position: center;
		transition: background-size theme(transitionDuration.75);

		border: solid theme(borderWidth.2) theme(borderColor.gray.500);
		position: relative;

		&::after {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
			width: 20px;
			height: 20px;
			position: absolute;
			top: 0;
			left: 0;
			scale: 0;
			opacity: 0;
			transition: scale theme(transitionDuration.200) theme(transitionTimingFunction.out-back), opacity theme(transitionDuration.200);
			will-change: transform;
		}

		&:checked {
			border-color: theme(borderColor.primary.500);
			background-size: 200% 200%;
			transition: background-size theme(transitionDuration.100) ease-out;

			&::after {
				scale: 1;
				opacity: 1;
			}
		}
	}

	input[type="checkbox"].switch {
		cursor: pointer;
		padding: 0;
		width: theme(width.12);
		height: theme(height.6);
		border-radius: theme(borderRadius.full);
		background-color: theme(backgroundColor.white);
		position: relative;
		padding: theme(padding[1]);

		&::after {
			position: absolute;
			content: '';
			width: theme(width.4);
			height: theme(height.4);
			background-color: theme(backgroundColor.gray.400);
			border-radius: theme(borderRadius.full);
			border: solid 3px theme(borderColor.white);

			transition: translate 100ms;
		}

		&:checked {
			background-color: theme(colors.primary.500);

			&::after {
				translate: theme(translate.6) 0;
				background-color: theme(backgroundColor.white);

				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
			}
		}
	}

	[role="menu"]>.content {
		background-color: theme(colors.white);
		box-shadow: theme(boxShadow.md);
		border-radius: theme(borderRadius.md);
		transform-origin: top right;
		will-change: transform;

		@apply divide-y divide-gray-100 ring-1 ring-black ring-opacity-5 shadow-lg focus:outline-none;

		&,
		&>[role="group"],
		&>[role="group"] {
			display: flex;
			flex-direction: column;
		}

		&>[role="group"] {
			padding: theme(padding.1);

			&>button {
				padding: theme(padding.2);
				gap: theme(gap.2);
				border-radius: theme(borderRadius.md);
			}
		}
	}
}
