@import "@fontsource/fira-sans";
@import "@fontsource/roboto-slab";
@import "@fontsource/fira-mono";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ex-fg: 255 0 255
}

@layer components {
	button {
		appearance: none;

		white-space: nowrap;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: theme(gap.1);

		padding: theme(padding.1) theme(padding.2);
		border: none;
		border-radius: theme(borderRadius.DEFAULT);
		outline: none;
		text-align: left;

		&.filled {
			background-color: theme(colors.gray.300);
		}

		&:hover {
			/* background-color: theme(colors.gray.300); */
			box-shadow: inset 0 0 100px rgb(0 0 0 / 0.1);
		}
	}

	input:not(.reset),
	select:not(.reset),
	textarea:not(.reset){
		appearance: none;
		padding: theme(padding.1) theme(padding.2);
		border: none;
		border-radius: theme(borderRadius.DEFAULT);
		outline: none;
		text-align: left;
	}

	input:not(.reset):disabled,
	textarea:not(.reset):disabled {
		opacity: theme(opacity.25)
	}

	select:not(.reset) {
		cursor: pointer;
		padding-right: theme(padding.8);
	}

	select:not(.reset) {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z' clip-rule='evenodd' /%3E%3C/svg%3E");

		background-position: right theme(spacing.2) center;
		background-repeat: no-repeat;
		background-size: 1.5em 1.5em;
		padding-right: theme(spacing.10);
	}

	input[type="text"]:not(.reset),
	textarea:not(.reset) {
		width: theme(width.full);
	}

	input[type="text"]:not(.reset).flat,
	textarea:not(.reset).flat,
	select:not(.reset).flat {
		background-color: theme(colors.transparent);
	}

	input[type="text"]:not(.reset),
	textarea:not(.reset),
	select:not(.reset) {
		@apply focus:bg-white focus:hover:bg-white focus:ring focus:ring-gray-900;
	}

	textarea:not(.reset) {
		@apply p-2 min-h-[2.5em];
	}

	input[type="text"]:not(.reset).prompt {
		@apply
			cursor-pointer
			font-sans
			placeholder:text-current
			focus:cursor-text focus:text-left
		;
	}

	input[type="radio"]:not(.reset) {
		@apply
			p-0 w-4 h-4 cursor-pointer
			checked:bg-primary-400
			focus:ring focus:ring-gray-900
			rounded-full
		;
	}

	input[type="checkbox"]:not(.reset, .switch) {
		@apply
			cursor-pointer bg-white
			p-2 w-4 h-4
			ring-2 ring-gray-300
			checked:bg-primary-500
			focus:ring-gray-900
		;

		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='white' class='w-5 h-5'%3E%3Cpath fill-rule='evenodd' d='M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
	}

	input[type="checkbox"].switch {
		@apply
			p-0 w-8 h-4 relative cursor-pointer
			bg-white
			transition-colors duration-75

			after:content-[''] after:w-4 after:h-4 after:absolute after:bg-white after:rounded
			after:ring after:ring-gray-200
			after:transition-transform after:duration-75

			focus:after:ring-gray-900

			checked:bg-primary-400
			checked:after:translate-x-4
		;
	}

	[role="menu"]>.content {
		background-color: theme(colors.white);
		box-shadow: theme(boxShadow.md);
		border-radius: theme(borderRadius.md);
		transform-origin: top right;
		will-change: transform;

		@apply divide-y divide-gray-100 ring-1 ring-black ring-opacity-5 shadow-lg focus:outline-none;

		&,
		&>[role="group"],
		&>[role="group"] {
			display: flex;
			flex-direction: column;
		}

		&>[role="group"] {
			padding: theme(padding.1);

			&>button {
				padding: theme(padding.2);
				gap: theme(gap.2);
				border-radius: theme(borderRadius.md);

				&:hover {
					background-color: theme(colors.primary.500);
					box-shadow: none;
				}
			}
		}
	}
}
